.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh; /* اختياري عشان تشوف Grid كامل */
  width: 100%;
}

.div1  { grid-area: 1 / 1 / 2 / 6; background: #f1c40f; }
.div2  { grid-area: 2 / 1 / 3 / 2; background: #e67e22; }
.div3  { grid-area: 2 / 2 / 3 / 3; background: #e74c3c; }
.div4  { grid-area: 2 / 3 / 3 / 4; background: #9b59b6; }
.div5  { grid-area: 2 / 4 / 3 / 5; background: #3498db; }
.div6  { grid-area: 2 / 5 / 3 / 6; background: #1abc9c; }
.div7  { grid-area: 1 / 6 / 2 / 7; background: #2ecc71; }
.div8  { grid-area: 2 / 6 / 3 / 7; background: #34495e; }
.div9  { grid-area: 3 / 6 / 4 / 7; background: #7f8c8d; }
.div10 { grid-area: 4 / 6 / 5 / 7; background: #16a085; }
.div11 { grid-area: 3 / 1 / 4 / 2; background: #f39c12; position: relative; }
.div12 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #c0392b; }

.div13 { grid-area: 3 / 2 / 5 / 4; background: #8e44ad; }
.div14 { grid-area: 3 / 4 / 5 / 6; background: #2980b9; }
